
@font-face {
  font-family: 'IcoMoon-Free';
  src: url('IcoMoon-Free.eot?#iefix') format('embedded-opentype'),  url('IcoMoon-Free.woff') format('woff'), url('IcoMoon-Free.ttf')  format('truetype'), url('IcoMoon-Free.svg#IcoMoon-Free') format('svg');
  font-weight: normal;
  font-style: normal;
}
