
@font-face {
  font-family: 'Iomanoid-Regular';
  src: url('Iomanoid-Regular.eot?#iefix') format('embedded-opentype'),  url('Iomanoid-Regular.woff') format('woff'), url('Iomanoid-Regular.ttf')  format('truetype'), url('Iomanoid-Regular.svg#Iomanoid-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
