
@font-face {
  font-family: 'IomanoidFront-Regular';
  src: url('IomanoidFront-Regular.eot?#iefix') format('embedded-opentype'),  url('IomanoidFront-Regular.woff') format('woff'), url('IomanoidFront-Regular.ttf')  format('truetype'), url('IomanoidFront-Regular.svg#IomanoidFront-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
