.Board4 {
    display: inline-grid;
    grid-gap: 0;
    column-gap: 0;
    margin-left: 0px;
    /*margin: 0 auto;*/
    /*border: 1vmin solid #ddd;*/
    
    width: 400px;
    /*background:red;*/
    /*padding:10px;*/
}
.Board4.disabled {
    pointer-events: none;
   
}
.Board3 {
    display: inline-grid;
    grid-gap: 0;
    column-gap: 0;
    margin: 0 auto;
    /*border: 1vmin solid #ddd;*/
    overflow: auto;
    max-width: 100%;
    /*background:red;*/
    /*padding:10px;*/
}
.Board3.disabled {
    pointer-events: none;
   
}
.Board2 {
    display: inline-grid;
    grid-gap: 0;
    column-gap: 0;
    margin: 0 auto;
    /*border: 1vmin solid #ddd;*/
    overflow: auto;
    max-width: 100%;
    /*background:red;*/
    /*padding:10px;*/
}
.Board2.disabled {
    pointer-events: none;
   
}
.Board2 {
    display: inline-grid;
    grid-gap: 0;
    column-gap: 0;
    margin: 0 auto;
    /*border: 1vmin solid #ddd;*/
    overflow: auto;
    max-width: 100%;
    /*background:red;*/
    /*padding:10px;*/
}
.Board2.disabled {
    pointer-events: none;
   
}
.Board {
    display: inline-grid;
    grid-gap: 0;
    column-gap: 0;
    margin: 0 auto;
    /*border: 1vmin solid #ddd;*/
    overflow: auto;
    max-width: 100%;
    /*background:red;*/
    /*padding:10px;*/
}
.Board.disabled {
    pointer-events: none;
   
}
