.slider p, .gameplay p{
    font-family: Arial;
    font-size: 16px;
    line-height: 28px;
    color: #fff !important;
    margin-bottom: 25px !important;
}

.play-img{
    padding-left: 450px;
}

.about-page{
    padding:20px;
}
.slider h2, .gameplay h2{
    font-size: 35px;
    color:#fff;    
    text-align: center;
}

.btn-center{
    left: 42%;
    font-family: Arial;
    letter-spacing: 0.6px;
}
.brown {
    color: rgb(145, 165, 176);
}

.down.awesome, .down.awesome:visited { font-size: 14px; padding: 8px 52px 9px !important; width: 200px; }

hr.new1 {
  border-top: 0.5px solid rgb(60, 76, 87);
}

hr.new2 {
    border-top: 0.5px solid rgb(60, 76, 87);
  color: rgb(60, 76, 87) !important;
}

hr{
    border: solid rgb(60,76,87) !important;
    border-width: 1px 0 0 ;
}


.bg-card{
    background-color: rgb(39, 46, 51);
    text-align: center !important;
    border-radius: 1.5rem !important;
    border-color: rgb(39, 46, 51) !important;
    padding:10px;
    vertical-align: middle;
}
.card-text{
    font-family: Arial;
    font-family: 14px !important;
    color: #fff !important;
    font-weight: bold;
    letter-spacing: 0px !important;
}

.card-bottom{
    font-family: Arial;
    font-size: 12px !important;
    color: rgb(183, 187, 189)  !important;
    letter-spacing: 0px !important;
    font-weight: bold;
}
.submenu{
    height: 30px;
    padding-top:7px;
    background-color: #1c414f;
}
.menu-active{
    padding:0px !important;
    height: 600px;
}
.menu-one{
    padding: 20px;
}
.userbets{
    margin: 20px;
    padding-bottom: 20px;
    background-color: #1b5166;
    text-align: center;
    border-radius: 15px;
    /*width:92%;*/
    height: 100px;
}
.userbets div span{
    margin-left: 35px;
    padding-top: 20px;
    vertical-align: text-bottom;
}
.userbets span h4{
    margin-left: 75px;
    font-size: 20px;
    font-weight: bold;
    color: #F5A623 !important;
}
.bname{
    padding-left: 50px !important;
}

#imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
    width: 120px;
    height: 120px;
}
.edit-pic{
    width:60%;
    text-align: center;
}
#editinfo{
    /*width: 60%;*/
    padding: 35px;
    padding-top: 20px;
} 
.form-control{
    height: 40px !important;
    font-size: 16px !important;
    color: #000;
}
.update{
    font-size: 18px;
    color: #000;
}  
.editable-submit, .editable-cancel{
    width: 40px !important;
    height: 40px !important;
    margin:0 !important;
}
.editable-input{
    border-radius: 2rem !important;
    width:373px !important;
} 
.input-group-text{
    width: 40px !important;
}

#setting{
    width: 60%;
    padding: 35px;
    padding-top: 20px;
}
#setting h4{    
    font-size: 20px;
    font-weight: bold;
    color: #fff !important;
} 
