{{##def.page_title = 'Your account' #}}
{{##def.content:
<form action="/logout" method="post" id='logout'></form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.js"></script>
<style>
  /*padding*/
.small_top_padding{
  padding-top:10px;
}
.small_bottom_padding{
  padding-bottom:10px;
}
.small_padding{
  padding-top:10px;
  padding-bottom:10px;
}
h6{
  color: white;
}
.mid_top_padding{
  padding-top:30px;
}
.mid_bottom_padding{
  padding-bottom:30px;
}
.mid_padding{
  padding-top:30px;
  padding-bottom:30px;
}
.large_top_padding{
  padding-top:80px;
}
.large_bottom_padding{
  padding-bottom:80px;
}
.large_padding{
  padding-top:80px;
  padding-bottom:80px;
}
/*margin*/

/*text*/
.center{
  text-align:center;
}
.white{
  color:#fff;
}
tr.black td {
    color: white !important;
}
.black{
  color:#fff;
}
.grey{
  color:#efefef;
}
/*custom css by may*/
.bankinfo label,
.bankinfo h5,
.bankinfo table tbody tr th{
  color:#fff;
}
.bankinfo table tr td{
  color:#fff;
}
.userdetail{
  padding:10px;
  border:1px solid #615f5f;
}
.sidebar-nav .metismenu li{
  border-bottom: 1px solid #777575;
}
.useraction h5{
    font-size: 20px;
    color: #d58512;
    margin-bottom: 20px;
}
.blockaction h5{
  font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}
/*quick tab css*/
ul.tabs
{
  list-style:none;
  margin:0;
  padding:0
}
ul.tabs li
{
      display: inline-block;
    padding: 13px 42px;
    margin-bottom: -1px;
    /*border: solid 1px #ccc;*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #00000078;

}
.active{
  display: inline-block !important;
}
ul.tabs li a
{
color:#aba3a3 !important;
}
/* the margin-bottom makes the tab and container borders overlap */
ul.tabs li.active
{
  /*border-bottom:solid 1px #fff;*/
  background:#000000;
}
ul.tabs li.active a{
  color:#fff !important;
}
#tabcontainer
{
  padding:20px;
  /*border:solid 1px #ccc;*/
  background:#353638
}
#tabcontainer section
{
  display:none
}

#tabcontainer p{
  color:#fff !important;
}
#tabcontainer table tr td{
  font-size:13px !important;
}
/* showing the first section by default */
/*referral view*/
.a1{
  color: white;
  background: #000000;
  border: 0 !important;
}
table{
  border: 0 !important;
}
.a2{
  border: 0 !important;
  background:#606063;
}
tr.black{
  background:#000;
}
tr.a41{
  background:#f9f9f9;
}
tr.a42{
  background:#f9f9f9;
}
.tree ul li{
  list-style-type: circle;
  color:#cec8c8 !important;
  line-height: 2rem;
}

/**/
.product-status-wrap h5{
  color:#d58512;
  font-size:20px !important;
}
.login-wrap {
    background: #000;
    padding: 30px 40px;
    box-shadow: 0 2px 5px 0px #777;
}
.login-wrap label {
    margin-top: 20px;
    color:#fff;
}
.button-login {
    background-color: #3a3f4c;
    padding: 10px 80px 10px 80px;
    color: #fff;
    width: 100%;
}
.login-wrap .form-control{
  color:#ccc !important;
}
.menu-title h3{
  display: none;
}
.setting-form h4{
  color:#fff;
}
.setting-form label{
  color:#fff !important;
}
.setting-form .form-control{
  background:#ccc !important;
  color:#000 !important;
}
.adminprofile{
  color:#fff;
}
.adminprofile table tr td{
  border-top:0px !important;
}
.profitloss{
  height: 915px;
    overflow: auto;
}
.current {
font-weight: bold;
color:#CD232C !important;
text-decoration:underline  !important;
}
.pagegi{
  text-align:center;
}
.pagegi li{
  display: inline;
  text-decoration-style: none;
  padding-left:10px;
  padding-right:10px;
  /*text-decoration: underline;*/
}
/*mobile responsive my may*/
@media only screen and (min-width:200px) and (max-width: 480px){
	.blockaction{
	width:100% !important;
	}
  .xs_padding{
    padding-top:5px;
    padding-bottom:5px;
  }
  .product-status-wrap .xs_padding{
    padding-top:5px !important;
    padding-bottom:5px !important;
  }
  .header-right-info {
      display: none !important;

  }
  .menu-title h3{
    display: inherit !important;
    color: #fff;
      margin-top: 15px;
    font-size:20px;
  }
  .mobile-menu-area{
    background:none !important;
  }
  .mid_top_padding{
    padding-top:0px !important;
  }
  .breadcome-list{
    padding:0px !important;
  } 
  .mobile-button{
    float:right;
  }
  .product-status-wrap table th{
    white-space: nowrap !important;
  }
  .product-status-wrap table td{
    white-space: nowrap !important;
  }
  .history table td{
    white-space:inherit !important;
  }
  .useraction,.blockaction,.history-time{
    padding-top:84px !important;
  }
  ul.tabs li{
    padding: 13px 36px !important;
  }
  .historytime ,.transaction{
    overflow-y: hidden;
      white-space: nowrap;
      border: 0px !important;
  }
</style>
<div class="mid_top_padding blockaction" style="width:50%;margin: 0 auto;padding-top: 50px;">
  <h5>REFERRAL</h5>
  <ul class="tabs">
        <li class="active"><a id="overview" onclick="changeTab(this)" > Overview</a></li>
        <li><a onclick="changeTab(this)" id="map">Referral Map</a></li>
        <li><a onclick="changeTab(this)" id="transfer">Transfer</a></li>
  </ul>
  <div id="tabcontainer">
        <section id="overview" class="active">
      
          <div class="mid_top_padding history">
          <table class="table table-responsive">
              <tbody><tr>
                  <td class="a1" style="width:50%;">1st Recommendee / Total</td>
                  <td class="a2">{{=it.user.referred.length}}/{{=it.user.referred.length}}</td>
                  <td class="a1" style="width:50%;">Available amount</td>
                  <td class="a2">                 
                    {{#def.format:{n: it.user.totalreferralavailable, decimals:2} }}
                  </td>
                  
              </tr>
          </tbody></table>
          </div>
          <div class="small_top_padding history">
          <table class="table table-responsive">
              <tbody><tr>
                  <td class="a1" style="width:20%;">Referal URL</td>
                  <td class="a2" style="width: 75%;">wowgo.io/register?referral={{=it.user.username}}</td>
                  <td class="a1" style="width:50%;cursor: pointer;" onclick="copyTextToClipboard('wowgo.io/register?referral={{=it.user.username}}')">Copy</td>
              </tr>
          </tbody></table>
          </div>
          <div class="small_top_padding history">
              <p>BREAKDOWN</p>
              <table class="table">
                  <tbody>
                  <tr class="black">                                           
                      <td>TYPE</td>
                      <td>WOW</td>
                  </tr>
                  <tr class="a41">
                      <td>Profit</td>
                      <td>{{=it.user.totalAmtEarned}} WOW</td>
                  </tr>
                  <tr class="a41">
                      <td>Withdraw</td>
                      <td>{{=it.user.totalreferralWithdrawls}} WOW</td>
                  </tr>
                  <tr class="a41">
                      <td>Available Amount</td>
                      <td>{{=it.user.totalreferralavailable}} WOW</td>
                  </tr>
              </tbody></table>
          </div>
          <div class="small_top_padding">
              <p>Referral Affiliated ({{=it.user.rate}}%)</p>
              <table class="table">
                  <tbody>
                    <tr class="black">                                           
                      <td>ID</td>
                      <td>Betting Referral's Profit</td>
                      <td>Registered Date</td>
                  </tr>
                  {{~it.user.referred :referred:index}}
                                            <tr>
                                                <td>{{=referred.user_id}}</td>
                                                <td>{{=referred.earned}}</td>
                                                <td>{{=referred.created_on}}</td>
                                            </tr>
                                        {{~}}
              </tbody></table>
          </div>
          
        </section>
       
        <section id="map">
          <div class="mid_top_padding">
              <div class="tree">
                  <ul>
                      <li>
                          {{=it.user.username}}
                          <ul>    
                            {{~it.user.referred :referred:index}}
                                            <li>
                                                <td>{{=referred.user_id}}</td>
                                            </li>
                                        {{~}}
                          </ul>
                      </li>
                  </ul>
              </div>
          </div>
        </section>

        <section id="transfer" style="width: 100%;">
          <div class="mid_top_padding">
              <div class="small_top_padding history">
              <div>
                <h6>
                The Transfercan be done in the range of the available amount.  <br>
                The submitted amount will be transferred to your balance immediately.
                </h6>
              </div>
              <table class="table table-responsive">
              <tbody><tr>
                  <td class="a1" style="width:20%;">Available Amount</td>
                  <td class="a2">{{=it.user.totalreferralavailable}} WOW</td>
              </tr>
              </tbody></table>

              <div class="small_top_padding history">
              <table class="table table-responsive">
                  <tbody>
                  <tr>
                    <form action="/transfer-referral-amount" id="transfer" method="post" onsubmit="validate(e)">
                      <td class="a1" style="width:20%;">Amount</td>

                      <td class="a2" style="width: 75%;">
                      <input type="number" min="10" max={{=it.user.totalreferralavailable}} id="amount_transfer" name="amount_transfer">
                      <input type="hidden" value="{{=it.user.totalreferralavailable}}" name="available" />
                      </td>

                      <td class="a1" style="width:50%;"><input type="submit" value="Transfer"></td>
                    </form>
                  </tr>
                 
              </tbody></table>
              </div>


              <p>Transfer History</p>
              <table class="table">
                  <tbody><tr class="black">                                           
                      <td>Amount</td>
                      <td>Transfer Date</td>
                  </tr>
                  {{~it.user.referralWithdrawls :withdrawls:index}}
                    <tr>
                        <td>{{=withdrawls.amount_transferred}}</td>
                        <td>{{=withdrawls.created_on}}</td>
                    </tr>
                  {{~}}
              </tbody></table>
          </div>
          </div>
        </section>
  </div>
</div>
<script>
    

    function validate(e){
      console.log(this);
      console.log(e);
    }
  
    function changeTab(id){
      console.log(id);
      let ids = $(id).attr('id');
      $('.active').removeClass('active');
      $('section#'+ids).addClass('active');
      $('a#'+ids).parent().addClass('active');
    }

    function fallbackCopyTextToClipboard(text) {
      var textArea = document.createElement("textarea");
      textArea.value = text;
      textArea.style.position="fixed";  
      document.body.appendChild(textArea);
      textArea.focus();
      textArea.select();

      try {
        var successful = document.execCommand('copy');
        var msg = successful ? 'successful' : 'unsuccessful';
        console.log('Fallback: Copying text command was ' + msg);
      } catch (err) {
        console.error('Fallback: Oops, unable to copy', err);
      }

      document.body.removeChild(textArea);
    }

    function copyTextToClipboard(text) {
      console.log(text);
      if (!navigator.clipboard) {
        fallbackCopyTextToClipboard(text);
        return;
      }
      navigator.clipboard.writeText(text).then(function() {
      }, function(err) {
      });
    }
  </script>
#}}
{{#def.include('./template/main_new')}}
