{{##def.page_title = 'Send Tip' #}}

{{##def.content:
<script type="text/javascript">
    function logout() {
        if (document.getElementById('logout') ) {
            if (confirm("Are you sure you want to log out?")) {
                document.getElementById("logout").submit();
            }
        }
    }
</script>
<form action="/logout" method="post" id='logout'></form>
<div class="content row panel radius">
<div class="tip">
                    
                    <div class="bg-overlay" id="tip-send-successfully">
                                <div class="subscribe-optin">
                                    <a class="border-button right green" href="#tip-send">Send Tip</a>
                                    <h5 >Success</h5>
                                    <hr>
                                
                                    <a href="#" class="optin-close">&times;</a>
                                </div>
                    
                   </div> 
  </div> 
#}}

{{#def.include('./template/main_new')}}