{{##def.page_title = 'Send Tip' #}}

{{##def.content:
<script type="text/javascript">
    function logout() {
        if (document.getElementById('logout') ) {
            if (confirm("Are you sure you want to log out?")) {
                document.getElementById("logout").submit();
            }
        }
    }
</script>
<form action="/logout" method="post" id='logout'></form>
<div class="content row panel radius">

    <div class="settings">
        {{?it.warning}}
        <div class="small-12 columns sets-content">
            <h4 style="color:#fff;">{{=it.warning}}</h4>
            <a href="account#tip-send" class="border-button ">Back</a>
        </div>
        {{?}}
    </div>
</div>
#}}

{{#def.include('./template/main_new')}}