{{##def.page_title = 'Withdraw Request' #}}

{{##def.content:
<div class="content row panel radius">
    <script type="text/javascript">
    function updateTotal() {
        var totalElm = document.getElementById('total');
        var amount = parseFloat(document.getElementById('amount').value || 0);
        var total = parseFloat(document.getElementById('total').value || 0);
        var fee  = {{= it.miningFee}};
        if (amount > 0) {
            total = amount + fee;
        } else {
            total = 0;
        }
        totalElm.innerHTML = total;
    }
    </script>

    <div class="settings">
       {{#def.include('./side_bar')}}
        <div class="small-10 columns sets-content">
            <h4>{{=it.success}}</h4>
            <h4>Request A Withdrawal</h4>
            <p class="small">
                **The minimum amount for a withdrawal is {{= it.minWithdraw }} bits. Your final withdraw amount will be {{= it.miningFee }} bits more than the amount you enter below, as we use that {{= it.miningFee }} bits to go towards mining fee.
            </p>
            <p>
                <strong>Note:</strong> If you are betting in the current game or have an ongoing withdrawal which is not confirmed yet, part of your balance may not be withdrawable.
            </p>
            <form action="/withdraw-request" method="post">
                <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
                <input style="display:none" type="text" name="fakeusernameremembered"/>
                <input style="display:none" type="password" name="fakepasswordremembered"/>

                <label for="amount">Bits amount</label>
                <input oninput="updateTotal()" type="number" id="amount" name="amount" placeholder="Min {{= it.minWithdraw }} Bits" min="{{= it.minWithdraw }}" step="0.01" required/>
                <label for="destination">Destination Address</label>
                <input type="text" id="destination" name="destination" required/>
                <label for="password">Your password</label>
                <input type="password" id="password" name="password" autocomplete="off"/>
                {{?it.user.mfa_secret}}
                    <label for="otp">2FA Code</label>
                    <input type="text" id="otp" name="otp" autocomplete="off" pattern="[0-9]{6}" required />
                {{?}}

                <a href="/withdraw" class="border-button ">Back</a>
                <div class="right">
                    <span style="font-size: 12px; color:#484848; margin-right: 3px; margin-top: 10px;">(FEE: {{= it.miningFee}} Bits) TOTAL: <span id="total">0</span> Bits</span>
                    <input class="border-button right blue" type="submit" value="Proceed"/>
                </div>
                <input type="hidden" name="withdrawal_id" value="{{= it.id}}" />
            </form>
        </div>
    </div>
</div>
#}}

{{#def.include('./template/main_new')}}