{{##def.page_title = 'Withdraw' #}}

{{##def.content:
<script type="text/javascript">
    function logout() {
        if (document.getElementById('logout') ) {
            if (confirm("Are you sure you want to log out?")) {
                document.getElementById("logout").submit();
            }
        }
    }
</script>
<form action="/logout" method="post" id='logout'></form>
<div class="content row panel radius">
    <div class="settings">
        {{#def.include('./side_bar')}}
        <div class="small-10 columns sets-content">
            <a class="border-button right green" href="/withdraw/request">Request Withdraw</a>
            <h5 >Withdraw History</h5>
            <hr>
            {{?it.user.withdrawals.length > 0}}
                <table>
                    <thead>
                        <tr>
                            <td>Bits</td>
                            <td>Destination</td>
                            <td>Status</td>
                            <td class="show-for-large-up">Created</td>

                        </tr>
                    </thead>
                    <tbody>
                        {{~it.user.withdrawals :withdrawal:index}}
                            <tr>
                                <td>{{#def.format: {n: withdrawal.amount, decimals: 2 } }}</td>
                                <td>
                                    <a href="https://etherscan.io/address/{{=withdrawal.destination}}">Link</a>
                                </td>
                                <td>
                                    {{?withdrawal.status}}
                                         <a href="https://etherscan.io/tx/{{=withdrawal.status}}" target="_blank">Transferred</a>
                                    {{??}}
                                        in progress
                                    {{?}}
                                </td>
                                <td class="show-for-large-up">{{=withdrawal.created}}</td>
                            </tr>
                        {{~}}
                    </tbody>
                </table>
            {{??}}
                <br>
                <br>
                <br>
                <p>You have no withdrawals in your account.</p>
            {{?}}
        </div>
    </div>
</div>

#}}
{{#def.include('./template/main_new')}}