
@font-face {
  font-family: 'IomanoidShine-Regular';
  src: url('IomanoidShine-Regular.eot?#iefix') format('embedded-opentype'),  url('IomanoidShine-Regular.woff') format('woff'), url('IomanoidShine-Regular.ttf')  format('truetype'), url('IomanoidShine-Regular.svg#IomanoidShine-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
